<ion-header>
  <ion-toolbar>

    <ion-title>centroComercial</ion-title>

    <ion-button (click)="onBuscarA(true)">BUSCAR</ion-button>

    <ion-searchbar *ngIf="aparece" show-clear-button="always" clear-icon="trash-bin" value="Custom Clear Icon"></ion-searchbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item (click)="onDep()" *ngFor="let comerciales of listacent">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      <ion-avatar slot="start">
        <img [src]="comerciales.imagen" />
      </ion-avatar>
      <ion-label>{{comerciales.nombre}}</ion-label>
    </ion-item>
  </ion-list>


  <app-datosg></app-datosg>


</ion-content>
